
.card img{
    max-width:200px ;
    max-height: 275px;
    margin: 0 auto;
    padding: 9px 0;
   
}
.card{
    background-color: antiquewhite !important;
}
.card-title{
    color: darkblue;
}
p{
    color: rebeccapurple;
}
.extra{
    background-color: silver;
}
.card-body{
    background-color: antiquewhite;
}
a{
    text-decoration: none !important;
}
